.navbar-container {
  height: 60px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  position: sticky;
  top: 0;
  z-index: 5;
}

.responsive-nav-items {
  font-size: 25px;
  margin: "15px 0";
}

.responsive {
  display: none;
  font-size: 29px;
}

@media only screen and (max-width: 600px) {
  .nav-items-container {
    display: none;
  }
  .responsive {
    display: block;
  }
}
